<!-- 
<div class="text-layout">
    <h1>Hola Mundo</h1>
</div>

<div class="card flex justify-content-center">
    <p-button label="Submit" 
              icon="pi pi-bell" 
              iconPos="right"
              styleClass="p-button-help"></p-button>
</div>

<div class="card flex justify-content-center">
    <p-card header="Title">
        <p class="m-0">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
            quas!
        </p>
    </p-card>
</div> -->

<app-menu></app-menu>

<router-outlet></router-outlet>
